---
import Navbar from '../layouts/Navbar.astro';
---
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Daniel Wilk</title>
	<meta charset="utf-8">
	<style>
		* {
			margin: 0;
			padding: 0;
		}
	</style>
</head>
<body>
	<Navbar/>
	<main>Hello</main>
</body>
</html>
