---
import Navbar from '../layouts/Navbar.astro';
---
<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Daniel Wilk</title>
	<meta charset="utf-8">
	<style>
		* {
			margin: 0;
			padding: 0;
			font-size: 24px;
		}

		main {
			padding-left: 30px;
		}

		.banner {
			font-size: 2.5em;
			width: 50%;
			font-weight: 700;
		}

		main section p {
			margin-top: 8px;
			margin-bottom: 25px;
			font-size: 0.7em;
			color: rgba(0,0,0,0.8);
		}

		section .option{
			margin: 0 10px 0 10px;
			font-size: 0.6em;
			padding: 10px 25px 10px 25px;
			border-radius: 20px;
			cursor: pointer;
		}

		section .option:hover {
			background-color: rgba(0,0,0,0.05)
		}

		section .option.enabled {
			background-color: rgba(0,0,0,0.1)
		}
	</style>
</head>
<body>
	<Navbar/>
	<main>
		<div class="banner">Bringing <span style="color:#503CCC;font-size:inherit;">value</span> through crafting digital <span style="color:#503CCC;font-size:inherit;">thinks</span>.</div>
		<div style="width:100vw;height:60px;"></div>
		<section>
			<h1>Blog</h1>
			<p>Here is what I have to say :)</p>
			<div>
				<span class="option enabled">All</span>
				<span class="option">Web</span>
				<span class="option">Graphics</span>
				<span class="option">Algorithms</span>
				<span class="option">Cryptography</span>
			</div>
		</section>
	</main>
</body>
</html>
